.hero{
    min-height:70vh;

    display:flex;
    align-items:center;

    background:var(--primary-gradient);

    color:white;

    position:relative;

    overflow:hidden;
}

.hero::before{

    content:"🌸";

    position:absolute;

    left:8%;

    top:20%;

    font-size:120px;

    opacity:.08;

}

.hero::after{

    content:"🌷";

    position:absolute;

    right:8%;

    bottom:18%;

    font-size:110px;

    opacity:.08;

}

.hero-content{

    max-width:720px;

    margin:auto;

    text-align:center;

    padding:90px 0;

}

.hero-badge{

    display:inline-block;
    background:rgba(255,255,255,.15);

    padding:2px 20px;
    margin-bottom: 20px;

    border-radius:8px;
    border: 1px solid #ffffff51;

    font-size:.75rem;

}

.hero h1{

    font-size:4rem;

    font-weight:700;

    line-height:1.15;

}

.hero h1 span{

    color:#FFD54F;

}

.hero p{

    margin:30px auto;

    max-width:650px;

    font-size:1.15rem;

    opacity:.95;

}

.hero-buttons{

    display:flex;
    flex-direction:row;

    gap:10px;
    justify-content: center;

    margin-bottom:35px;

}

.hero-buttons .btn{

    border-radius:var(--radius-sm);

    padding:8px 20px;

    font-weight:500;

}

.hero-buttons .shop-now{

    color: var(--primary);

}

.hero-features{

    display:flex;

    justify-content:center;

    gap:35px;

    flex-wrap:wrap;

    font-size:.95rem;

}

@media(max-width:768px){

.hero{

    min-height:60vh;

}

.hero-content{

    padding:70px 20px;

}

.hero h1{

    font-size:2.5rem;

}

.hero p{

    font-size:1rem;

}

.hero-buttons .btn{

    flex-direction:row;
    font-size: 0.80rem;

}

.hero-features{

    flex-direction:row;
    gap:10px;

}

}