*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Poppins',sans-serif;

    background:var(--white);

    color:var(--dark);

    overflow-x:hidden;

}

a{

    text-decoration:none;

}

img{

    max-width:100%;

    display:block;

}

.Toastify__toast {
    min-height: 50px !important;
}

.Toastify__toast-theme--light.Toastify__toast--success {
    
    background: rgb(231, 255, 231);

    color: rgb(66, 105, 7);

}

.Toastify__toast-theme--light.Toastify__toast--info {

    background: lightcyan;

    color: rgb(9, 45, 108)

}

.Toastify__toast-icon {
    width: 15px;
    height: 15px;
}