:root{

    /* ===== Brand Colors ===== */

    --primary:#E91E63;
    --primary-dark:#D81B60;
    --primary-light:#FFF5F8;

    --secondary:#9C27B0;

    /* ===== Background ===== */

    --white:#FFFFFF;
    --light:#FFF8FA;
    
    /*==== Gradients ====*/
    --primary-gradient:linear-gradient(
        135deg,
        #ff2d75 0%,
        #ff4b8b 40%,
        #b43cff 100%
    );

    --primary-gradient-hover:
        linear-gradient(
            135deg,
            #e91e63 0%,
            #f5357b 40%,
            #9c27ff 100%
    );

    /* ===== Text ===== */

    --dark:#2D2D2D;
    --gray:#666666;
    --light-gray:#999999;

    /* ===== Border ===== */

    --border:#F1D4DE;

    /* ===== Radius ===== */

    --radius-sm:10px;
    --radius:20px;
    --radius-lg:30px;

    /* ===== Shadow ===== */

    --shadow-sm:0 3px 8px rgba(0,0,0,.05);

    --shadow:0 10px 25px rgba(0,0,0,.08);

    --shadow-lg:0 20px 50px rgba(0,0,0,.12);

    /* ===== Transition ===== */

    --transition:.3s ease;

}